body {
  background-color: grey;
}

h1 {
  color: blue;
  
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-weight: bold;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

/* .container {
  display: flex;
  flex-direction: column;

} */

.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  background-color: green;
  height: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.item {
  height: 100px;
  border: 1px solid;

}

img {
  width: 75px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 3;
  grid-row:  1 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}